* {
  font-family: "Poppins", sans-serif;
  list-style: none;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  --colorWhite: #ffffff;
  --colorJet: #2d2e2e;
  --colorGray: #716969;
  --colorBlackNight: #0f0f0f;
  --colorQuartz: #bcabae;
  --colorSelection: #ffd363;
}

::selection {
  background-color: var(--colorSelection);
  color: black;
}

::-moz-selection {
  background-color: var(--colorSelection);
  color: black;
}

body > nav {
  position: fixed;
  width: 100%;
  background-color: var(--colorJet);
  display: flex;
  justify-content: center;
  padding: 1vw;
  height: 7vh;
  align-items: center;
  font-size: clamp(15px, 4vw, 22px);
  z-index: 5;
}

body > nav > ul {
  display: flex;
  flex-direction: row;
}

body > nav > ul > li {
  color: var(--colorBlackNight);
  padding-right: 50px;
}

a {
  text-decoration: none;
  color: white;
}

body > nav > ul > li a::after {
  content: "";
  display: block;
  margin: auto;
  height: 1px;
  width: 0;
  background: transparent;
  transition: width 1s ease, background-color 1s ease;
}

body > nav > ul > li a:hover::after {
  width: 100%;
  background: var(--colorWhite);
}

body > nav > ul > li > a:hover {
  color: gold;
}

.FirstPage {
  background-color: var(--colorQuartz);
  /* background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
  color: var(--colorWhite);
  height: 90vh;
  padding-top: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 6.5em;
}

.benjaminImg {
  padding-bottom: 3em;
  border-radius: 50%;
}

.FirstPage > h1 {
  font-size: clamp(15px, 4vw, 22px);
  overflow: hidden;
  position: relative;
  color: var(--colorBlackNight);
  padding: 2em 0 1.5em 0;
}

.FirstPage > h2 {
  font-size: clamp(15px, 4vw, 22px);
  overflow: hidden;
  position: relative;
  color: var(--colorBlackNight);
  padding-bottom: 2em;
}

h2::after {
  content: "";
  display: inline-block;
  animation: animation 10s steps(8) infinite;
  width: 0ch;
  color: var(--colorWhite);
}

h2::before {
  display: inline-block;
  content: "";
  width: 3px;
  height: 50%;
  background-color: var(--colorWhite);
  position: absolute;
  right: 0;
}

@keyframes animation {
  3% {
    width: 0ch;
  }
  12% {
    content: "mobile";
    width: 7ch;
  }
  26% {
    width: 0ch;
  }
  40% {
    content: "web";
    width: 4ch;
  }
  55% {
    width: 0ch;
  }
  70% {
    content: "logiciel";
    width: 7ch;
  }
  85% {
    width: 0ch;
  }
}

@keyframes blinking {
  100% {
    opacity: 0;
  }
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--colorQuartz);
  border-radius: 50px;
  color: black;
  text-align: center;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.8s;
  cursor: pointer;
  margin-bottom: 1.5em;
  padding: 0.5em;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

button:hover {
  background-color: var(--colorWhite);
  color: var(--colorBlackNight);
}

.wave1 {
  padding-top: 15em;
  aspect-ratio: 930/360;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(/image/layered-waves-haikei.svg);
}

.SecondPage {
  background-image: url("/image/imgPaysage.jpg");
  background-size: cover;
  height: 100svh;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blurry-div {
  width: 1100px;
  height: 700px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  color: white;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border-bottom: 100px;
  padding: 6em 3em 3em 3em;
}

.ThirdPage {
  background-color: var(--colorBlackNight);
  color: var(--colorBlackNight);
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ThirdPage > h1 {
  color: var(--colorWhite);
  padding: 0 0 5em 0;
}

.selectElement {
  border-radius: 15px;
  background-color: var(--colorJet);
  margin-bottom: 50px;
  color: var(--colorWhite);
}

.skill-bar {
  text-align: left;
  width: 300px;
  height: 30px;
  background-color: #f2f2f2;
  margin-bottom: 10px;
  border-radius: 15px;
}

.skill-bar-fill {
  height: 100%;
  background-color: var(--colorQuartz);
  border-radius: 15px;
  padding-left: 15px;
}

.FourPage {
  background-color: var(--colorJet);
  height: 100svh;
  padding: 3em 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.FourPage p {
  color: var(--colorWhite);
}

.splide {
  max-width: 60vw;
  height: 75vh;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  border: 3px solid black;
  margin-bottom: 3em;
}

.splide .hero-heading-main {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  color: #222;
  background-color: var(--colorWhite);
  width: 290px;
  text-align: center;
  margin: 0 auto;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 4px 13px -4px rgba(0, 0, 0, 0.3);
}

.splide__slide {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2em;
}

.FivePage {
  background-color: var(--colorQuartz);
  height: 100svh;
  padding: 3em 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.FivePage p {
  color: var(--colorWhite);
}

.splide1 {
  max-width: 60vw;
  height: 75vh;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  border: 3px solid black;
  margin-bottom: 3em;
}

.splide1 .hero-heading-main1 {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  color: #222;
  background-color: var(--colorWhite);
  width: 290px;
  text-align: center;
  margin: 0 auto;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 4px 13px -4px rgba(0, 0, 0, 0.3);
}

.splide1 .splide__slide1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2em;
}

.splide__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer-basic {
  width: 100%;
  padding: 40px 0;
  background-color: #282d32;
  color: whitesmoke;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social > a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}
