*{
    list-style: none;
    padding: 0;
    margin: 0;
}

body>nav{
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    padding: 7px;
    height: 5vh;
    align-items: center;
    font-size: clamp(15px,8vw,30px);
}

body>nav>ul{
    display: flex;
    flex-direction: row;
}

body>nav>ul>li{
    text-decoration: none;
    color: black;
    padding-right: 50px;
}



.FirstPage{
    background-image: url(/image/endless-constellation.svg);
    height: 95vh;
}